# ðŸ“Š Sales Analytics Project

## Day 1: Project Setup & Data Understanding

### Objective
Understand the sales dataset structure, clean the data, and prepare it for analysis.

### Tools Used
- Python
- Pandas
- Matplotlib
- Seaborn

In [1]:
# Import required libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Display settings
pd.set_option('display.max_columns', None)

In [2]:
# Load the dataset
df = pd.read_csv('../data/sales_data.csv')

# View first 5 rows
df.head()

C:\Users\RUCHI\AppData\Local\Temp\ipykernel_21016\197241576.py:2: DtypeWarning: Columns (3,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/sales_data.csv')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083819 entries, 0 to 1083818
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   InvoiceNo    1083819 non-null  object
 1   StockCode    1083819 non-null  object
 2   Description  1080911 non-null  object
 3   Quantity     1083819 non-null  object
 4   InvoiceDate  1083819 non-null  object
 5   UnitPrice    1083819 non-null  object
 6   CustomerID   813659 non-null   object
 7   Country      1083819 non-null  object
dtypes: object(8)
memory usage: 66.2+ MB

In [4]:
df.describe()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,1083819,1083819,1080911,1083819,1083819,1083819.00,813659.0,1083819
unique,25901,4071,4224,976,23261,2070.00,5640.0,39
top,573585,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,10/31/2011 14:41,1.25,17841.0,United Kingdom
freq,2228,4626,4738,274597,2228,95583.00,15287.0,990956

In [5]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

# Check missing values
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1606
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     158808
Country             0
dtype: int64

### Data Cleaning
Removing duplicate records and checking for missing values.